{% extends 'layout.html' %}

{% block title %}
    Calls
{% endblock %}

{% block ngAttrs %}
    ng-app="calls" ng-controller="CallsCtrl"
{% endblock %}

{% block pageNav %}
    <a class="navbar-item" href="#">Calls</a>
{% endblock %}

{% block body %}
    <success-alert messages="messages"></success-alert>
    <error-alert errors="errors"></error-alert>
    <div class="row">
        <div class="col-md-4">
            <div class="clearfix">
                <upload-form file-model="uploadFile"></upload-form>
                <aggregate-field-form></aggregate-field-form>
            </div>
        </div>
        <div class="col-md-8">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Uploaded On</th>
                        <th>Filename</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="!uploads.length">
                        <td>
                            Nothing yet uploaded!
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr ng-repeat="upload in uploads" upload-tr>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block script %}

    <script src="{{ url_for('static', filename='utils/_module.js') }}"></script>
    <script src="{{ url_for('static', filename='utils/loading_button.js') }}"></script>
    <script src="{{ url_for('static', filename='utils/error_alert.js') }}"></script>
    <script src="{{ url_for('static', filename='utils/success_alert.js') }}"></script>
    <script src="{{ url_for('static', filename='utils/td_checkbox.js') }}"></script>

    <script src="{{ url_for('static', filename='calls/_module.js') }}"></script>
    <script src="{{ url_for('static', filename='calls/config.js') }}"></script>
    <script src="{{ url_for('static', filename='calls/ctrl.js') }}"></script>
    <script src="{{ url_for('static', filename='calls/service.js') }}"></script>
    <script src="{{ url_for('static', filename='calls/upload_form.js') }}"></script>
    <script src="{{ url_for('static', filename='calls/upload_tr.js') }}"></script>
    <script src="{{ url_for('static', filename='calls/aggregate_field_form.js') }}"></script>

{% endblock %}