{% extends 'layout.html' %}

{% block title %}
    Calls
{% endblock %}

{% block ngAttrs %}
    ng-app="calls" ng-controller="CallsCtrl"
{% endblock %}

{% block pageNav %}
    <a class="navbar-item" href="#">Calls</a>
{% endblock %}

{% block body %}
    <error-alert errors="errors"></error-alert>
    <div class="row">
        <div class="col-md-4">
            <upload-form file-model="uploadFile"></upload-form>
        </div>
        <div class="col-md-8">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Uploaded On</th>
                        <th>Filename</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="upload in uploads" upload-tr>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block script %}

    <script src="{{ url_for('static', filename='utils/_module.js') }}"></script>
    <script src="{{ url_for('static', filename='utils/loading_button.js') }}"></script>
    <script src="{{ url_for('static', filename='utils/error_alert.js') }}"></script>

    <script src="{{ url_for('static', filename='calls/_module.js') }}"></script>
    <script src="{{ url_for('static', filename='calls/ctrl.js') }}"></script>
    <script src="{{ url_for('static', filename='calls/upload_service.js') }}"></script>
    <script src="{{ url_for('static', filename='calls/upload_form.js') }}"></script>
    <script src="{{ url_for('static', filename='calls/upload_tr.js') }}"></script>

{% endblock %}