<form name="aggregateFieldForm" class="aggregate-form">
    <label for="field-input">
        <strong>Aggregate Field of Selected (exact match):</strong><br>
        <small>
            Access nested values with commas<br>
            (e.g. non-nested: 'session_steps')<br>
            (e.g. nested: 'session_attributes, seg.prev_stmt_bal') <br>
            (e.g. nested, multiple: for second position, 'events, 2, event_occur')
        </small>
    </label>
    <div class="row">
        <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
            <label class="btn btn-warning">
                <input type="radio" name='aggregate' ng-model="aggregateData.aggregate" value="min"> Min
            </label>
            <label class="btn btn-warning">
                <input type="radio" name='aggregate' ng-model="aggregateData.aggregate" value="max"> Max
            </label>
            <label class="btn btn-warning">
                <input type="radio" name='aggregate' ng-model="aggregateData.aggregate" value="mean"> Mean
            </label>
        </div>
    </div>
    <div class="row">
        <input type="text" placeholder="Enter field name here"
               class="form-control col-md-6" id="field-input" ng-model="aggregateData.field;"/>
        <button type="button" loading-button="getAggregatePromise"
                class="btn btn-info col-md-4" ng-click="getFieldAggregate()"
                ng-disabled="!aggregateData.field || !aggregateData.aggregate || !uploadsToAggregate.length">
            Aggregate
        </button>
        <button type="button" loading-button="pollPromise"
                class="btn btn-warning col-md-2" ng-click="pollStatuses()"
                ng-disabled="!statusUrls.length">
            Poll
        </button>
    </div>
</form>