$nice-spacing: 20px;

.contents {
    margin-top: 50px;
    .upload-form {
        position: fixed;
        margin-left: $nice-spacing;
        margin-top: $nice-spacing;
    }
    .aggregate-form {
        position: fixed;
        margin-top: 125px;
        margin-left: $nice-spacing;
        .btn {
            color: white;
        }
    }
}

.journey-science-nav {
    background-color: orange;
    .navbar-item {
        color: white;
    }
}