.upload-form {
    margin-left: 20px;
    margin-top: 20px;
}

.input-help-text {
    margin-left: 20px;
    color: grey;
}

.journey-science-nav {
    background-color: orange;
    .navbar-item {
        color: white;
    }
}
